@if (calculation !== "") {
  <div class="center">
    <h1 class="center">{{calculation}}</h1>
    <button mat-fab extended color="primary" (click)="clear()" aria-label="Berechnen">
      <mat-icon>calculate</mat-icon>
      Neue Berechnung
    </button>
  </div>
}
@else {
<h1 class="center">Wieviele KE?</h1>
<mat-grid-list cols="4" rowHeight="1:1">
  @for (item of kes ; track item) {
    <mat-grid-tile>
      <button mat-fab color="success" [ngClass]="{'selected': item.text === ke}" (click)="keClicked(item.text)" aria-label="Kohlenhydrateinheiten">
        <h1>{{item.text}}</h1>
      </button>
    </mat-grid-tile>
  }
</mat-grid-list>
<mat-divider></mat-divider>
<h1 class="center">Wieviel Bewegung?</h1>
<mat-grid-list cols="3" rowHeight="1:1">
  @for (item of movings ; track item) {
    <mat-grid-tile>
      <button mat-fab color="accent" [ngClass]="{'selected': item.icon === moving}" (click)="movingClicked(item.icon)" aria-label="Bewegung">
        <mat-icon>{{item.icon}}</mat-icon>
      </button>
    </mat-grid-tile>
  }
</mat-grid-list>
<mat-divider></mat-divider>
<h1 class="center">Tageszeit?</h1>
<mat-grid-list cols="3" rowHeight="1:1">
  @for (item of daytimes ; track item) {
    <mat-grid-tile>
      <button mat-fab extended color="primary" [ngClass]="{'selected': item.icon === dayTime}" (click)="daytimeClicked(item.icon)" aria-label="Tageszeit Morgen">
        <mat-icon>{{item.icon}}</mat-icon>
        {{item.text}}
      </button>
    </mat-grid-tile>
  }
</mat-grid-list>
<mat-divider></mat-divider>
<div class="center">
  <button mat-fab extended color="primary" (click)="calc()" aria-label="Berechnen">
    <mat-icon>calculate</mat-icon>
    Berechnen
  </button>
</div>
}
